.headerContener {
    height: 90px;
    width: 100%;
    background-color: #1A1F38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
	z-index: 100;
    top: 0%
}

.nameWeb {
    font-size: 48px;
    margin-left: 40px;
    color: white;
    font-weight: 700;
}


